Iterative_imputer Link: https://scikit-learn.org/stable/modules/generated/sklearn.impute.IterativeImputer.html

In [2]:
import pandas as pd
import numpy as np

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv("datasets/50_Startups.csv")[['R&D Spend','Administration','Marketing Spend']]

In [4]:
df.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [5]:
df = np.round(df/10000)

df.head()

   R&D Spend  Administration  Marketing Spend
0       17.0            14.0             47.0
1       16.0            15.0             44.0
2       15.0            10.0             41.0
3       14.0            12.0             38.0
4       14.0             9.0             37.0

In [6]:
df.shape

(50, 3)

In [7]:
df = df.sample(5)

In [8]:
df.head()

    R&D Spend  Administration  Marketing Spend
40        3.0            12.0             17.0
24        8.0            10.0             14.0
14       12.0            16.0             26.0
2        15.0            10.0             41.0
9        12.0            11.0             30.0

In [9]:
df.reset_index(drop=True, inplace=True)

In [10]:
df.head()

   R&D Spend  Administration  Marketing Spend
0        3.0            12.0             17.0
1        8.0            10.0             14.0
2       12.0            16.0             26.0
3       15.0            10.0             41.0
4       12.0            11.0             30.0

In [11]:
df.iloc[1,0] = np.NaN
df.iloc[3,1] = np.NaN
df.iloc[-1,-1] = np.NaN

In [12]:
df.head()

   R&D Spend  Administration  Marketing Spend
0        3.0            12.0             17.0
1        NaN            10.0             14.0
2       12.0            16.0             26.0
3       15.0             NaN             41.0
4       12.0            11.0              NaN

In [13]:
lr = LinearRegression()

iter_imputer = IterativeImputer(estimator=lr)

In [14]:
iter_imputer.fit_transform(X=df)

array([[ 3.        , 12.        , 17.        ],
       [ 2.69556806, 10.        , 14.        ],
       [12.        , 16.        , 26.        ],
       [15.        , 25.6342408 , 41.        ],
       [12.        , 11.        , 18.7718921 ]])